body {
	height:100%;
	margin:0;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.airport-header {
	font-size: 18px;
	padding-left: 10px;
	text-align:left;
	padding-top:10px;
}

@media (min-width: 768px) {
	.airport-header {
		text-align:right;
		padding-top:15px;
	}
}
@media (min-width: 992px) {
	.airport-header {
		text-align:right;
		padding-top:5px;
	}
}
@media (min-width: 1200px) {
	.airport-header {
		text-align:right;
		padding-top:5px;
	}
}

.airport-list {
	padding-left:3px;
	padding-right:3px;
}

.airport-list select {
	font-size:22px;
	line-height: 1.42857143;
	padding-top:3px;
	padding-bottom:3px;
	margin-top:0px;
}

@media (min-width: 768px) {
	.airport-list select {
		margin-top:10px;
	}
}
@media (min-width: 992px) {
	.airport-list select {
		margin-top:0px;
	}
}

.page-footer {
	position:absolute;
	bottom:0;
}