@{
    ViewData["Title"] = "Flight Finder";
}

<h3>@ViewData["Message"]</h3>

<p>Welcome to the Alaska Airlines Flight Finder!</p>
@using (Html.BeginForm("ListFlights", "FlightSearch", FormMethod.Get, new { role = "form" }))
{
    <div class="container" style="max-width:800px;float:left;">
        <div class="row">
            <div class="col-sm-1 airport-header">
                From:
            </div>
            <div class="col-sm-5 airport-list">
                @Html.DropDownList("FromAirport", null, new { @id = "from-airport" })
            </div>
            <div class="col-sm-1 airport-header">To:</div>
            <div class="col-sm-5 airport-list">
                @Html.DropDownList("ToAirport", null, new { @id = "to-airport" })
            </div>
        </div>
        <div class="row">
            <!--<div class="col-sm-9"></div>-->
            <div class="col-sm-3">
                <button id="submit-button" type="submit" class="btn btn-primary" style="width:100%;margin-top:10px;" disabled="disabled">Find!</button>
            </div>
        </div>
    </div>
 }

<script>

    // If the user changes the "from" airport, disable the corresponding element
    // in the "to" airport list.

    function handleFromAirportChange() {
        var fromValue = document.getElementById("from-airport").value;
        var toSelector = document.getElementById("to-airport");

        // If the to airport is now the same as the from airport, reset it to "Select".
        if (toSelector.value == fromValue) {
            toSelector.value = "---";
        }

        for (var n = 0; n < toSelector.options.length; n++) {
            if (toSelector.options[n].value == "---") {
                // keep this one disabled!
                toSelector.options[n].disabled = true;
            }
            else if (toSelector.options[n].value == fromValue) {
                // You cannot travel to the departure airport.
                toSelector.options[n].disabled = true;
            }
            else {
                toSelector.options[n].disabled = false;
            }
        }
        enableSubmitIfBothSelected();
    }

    // Once the user has selected from and to, then the user may click the "Find!" button.
    function enableSubmitIfBothSelected() {
        if(
            (document.getElementById("from-airport").value != "---") &&
            (document.getElementById("to-airport").value != "---")
            ) {
            document.getElementById("submit-button").disabled = false;
        }
        else {
            document.getElementById("submit-button").disabled = true;
        }
    }

    // If, for any reason, the from airport is already selected, handle it
    // as soon as the document is ready.
    document.onready = handleFromAirportChange;

    document.getElementById("from-airport").onchange = handleFromAirportChange;

    document.getElementById("to-airport").onchange = function () {
        enableSubmitIfBothSelected();
    }

</script>